@charset "UTF-8";
:where(body) > * {
	position:relative;
}

:where(nav:nth-of-type(1)) span{
	color:white;
}

.table{
	table-layout: fixed;
}

:where(.table) th{
	padding:10px;
}

:where(.table) td{
	height:150px;
}

:where(.table) th, td{
	vertical-align: middle;
	text-align: center;
}

:where(tbody) img{
	width:100%;
	height:100%;
	object-fit:contain;
}

td:has(button) td{
	display:flex;
	justify-content: center;
}

:where(thead) th:nth-of-type(2){
	width:150px;
}
:where(.right_block) span{
	user-select:none;
	font-weight:700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

:where(.right_block) button{
	width:fit-content;
}

:where(nav.bottom_block) ul{
	margin:0px;
}
:where(nav.bottom_block) {
	bottom:20px;
}

