@charset "UTF-8";

/* 導覽列 */
nav#navbar_block{
	display:flex;
	justify-content: flex-start;
	height:40px;
	background-color: black;
	color:#fff;
	position:relative;
	margin-bottom:50px;
}

#homepage_block{
	margin-left: 30px;
}
.cart_block{
	margin-right: 20px;
}

.login_block{
	margin-right:15px;
}

:where(.login_block,.cart_block) span{
	margin-right:5px;
}

#right_block{
	display:flex;
	flex-direction:row;
	justify-content: flex-end;
	flex-grow:1;
}
:where(#right_block) div,
#homepage_block{
	display:flex;
	justify-content: center;
	align-items: center;
}
#login,
#cart,
#logout{
	/*
	background-color: #71fa6d;
	padding:5px 15px;
	border-radius: 5px;
	*/
	background:none;
	border-style: none;
	outline: none;
	width:fit-content;
	font-size:16px;
	border-bottom:1px solid white;
	color: white;
    cursor: pointer;
}

#login_icon,
#logout_icon,
#cart_icon{
	vertical-align: middle;
    color: #fff;
    cursor: pointer;
    margin-right:5px;
    
}

#login_icon,
#logout_icon,
#cart_icon,
#homepage_block a{
	color:white;
}