<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳情</title>
<!-- jQuery -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- icon -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
<!-- 我的css -->
<linK th:href="@{/css/navbar.css}" rel="stylesheet">
<link th:href="@{/css/laptop_spec.css}" rel="stylesheet" />
</head>
<body>
	<nav th:replace="~{shared::navbar}"></nav>

	<div class="container">
		<div class="pic">
			<img alt="#" src="imgUrl" th:attr="src = ${laptop.imageUrl}">
		</div>
		<div class="detail">
			<div class="top_block">
				<div class="name">
					<h3 th:text="${laptop.laptopName}"></h3>
				</div>
			</div>
			<div class="middle_block">
				<div class="spec_block">
					<div class="spec">
						<div th:each="spec : ${specs}" class="spec_item">
							<p th:text="${spec}"></p>
						</div>
					</div>
				</div>
				<div class="price">
					$<span th:text="${laptop.price}"></span>
				</div>
			</div>
			<div class="bottom_block">
				<form action="#" method="post">
					<select id="qty" name="qty">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
					</select>
					<button id="buy_btn">立即購買</button>
					<button id="add_to_cart">加入購物車</button>
				</form>
			</div>
			<div th:text="${laptop.laptopId}" class="id" style="display:none"></div>
		</div>
	</div>
	<script src="js/laptop_spec.js"></script>
	<div th:replace="~{shared::full_name}"></div>
</body>
</html>