<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>設定帳號密碼</title>
<!-- jQuery -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- icon -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
<!-- 我的css -->
<linK th:href="@{/css/navbar.css}" rel="stylesheet">
<linK th:href="@{/css/new_password.css}" rel="stylesheet">
</head>
<body>
	<nav th:replace="~{laptop_spec::navbar}"></nav>
	<div class="container">
		<div class="title">
			<label for="pw1">
				<h1>重設密碼</h1>
				<span class="icon material-symbols-outlined">passkey</span>
			</label>
		</div>
		<div class="form_block">
			<form method="post" action="/resetPassword">
				<input type="password" placeholder="輸入新密碼" name="password" id="pw1">
				<input type="password" placeholder="重複輸入新密碼">
				<input type="hidden" name="email" th:value="${email}">
				<button type="submit">確認送出</button>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="/js/new_password.js"></script>
</body>
</html>